
## Data

The following schema diagram shows the tables available. I have only been provided with data where customers provided a feedback rating.

![hotel_operations](hotel_operations.png)






It is known that there are some issues with the `branch` table, and the data team have provided the following data description. 


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|id | Nominal. The unique identifier of the hotel. </br>Missing values are not possible due to the database structure.|
| location | Nominal. The location of the particular hotel. One of four possible values, 'EMEA', 'NA', 'LATAM' and 'APAC'. </br>Missing values should be replaced with “Unknown”. |
| total_rooms | Discrete. The total number of rooms in the hotel. Must be a positive integer between 1 and 400. </br>Missing values should be replaced with the default number of rooms, 100. |
| staff_count | Discrete. The number of staff employeed in the hotel service department. </br>Missing values should be replaced with the total_rooms multiplied by 1.5. |
| opening_date | Discrete. The year in which the hotel opened. This can be any value between 2000 and 2023. </br>Missing values should be replaced with 2023. |
| target_guests | Nominal. The primary type of guest that is expected to use the hotel. Can be one of 'Leisure' or 'Business'. </br>Missing values should be replaced with 'Leisure'. |

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

service = pd.read_csv('data/service.csv')
request = pd.read_csv('data/request.csv')
branch = pd.read_csv('data/branch.csv')

In [17]:
branch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             100 non-null    int64
 1   location       77 non-null     object
 2   total_rooms    100 non-null    float64
 3   staff_count    100 non-null    int64
 4   opening_date   100 non-null    int64
 5   target_guests  100 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.8+ KB

In [19]:
request.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16666 entries, 0 to 16665
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            16666 non-null  int64
 1   service_id    16666 non-null  int64
 2   branch_id     16666 non-null  int64
 3   time_taken    16666 non-null  int64
 4   request_time  16666 non-null  object
 5   rating        16666 non-null  int64
dtypes: int64(5), object(1)
memory usage: 781.3+ KB

In [20]:
service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4 non-null      int64
 1   description  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [4]:
branch_transformed = branch.copy()

# Replace null values in 'total_rooms' with 100
branch_transformed['total_rooms'] = branch_transformed['total_rooms'].fillna(100)

# Replace '-' in 'opening_date' with '2023'
branch_transformed['opening_date'] = branch_transformed['opening_date'].replace('-', '2023')

# Correct the 'target_guests' values
branch_transformed['target_guests'] = branch_transformed['target_guests'].replace({'B.': 'Business', 'Busniess': 'Business'})

# Select the required columns
branch_transformed = branch_transformed[['id', 'location', 'total_rooms', 'staff_count', 'opening_date', 'target_guests']]

print(branch_transformed.head())

   id location  total_rooms  staff_count opening_date target_guests
0   1    LATAM        168.0          178         2017      Business
1   2     APAC        154.0           82         2010       Leisure
2   3     APAC        212.0          467         2003       Leisure
3   4     APAC        230.0          387         2023      Business
4   5     APAC        292.0          293         2002      Business

In [7]:
branch_transformed.to_csv('clean_data/branch_transformed.csv', index=False)

In [10]:

# Group by service_id and branch_id, then calculate the average and maximum time_taken
Business_Metrics = request.groupby(['service_id', 'branch_id']).agg(
    avg_time_taken=('time_taken', lambda x: round(x.mean(), 2)),
    max_time_taken=('time_taken', 'max')
).reset_index()

print(Business_Metrics.head())

   service_id  branch_id  avg_time_taken  max_time_taken
0           1          1            2.47              12
1           1          2            2.14               6
2           1          3            2.31               6
3           1          4            2.13               5
4           1          5            2.51              10

In [16]:
# Read the CSV files into DataFrames
service = pd.read_csv('data/service.csv')
request = pd.read_csv('data/request.csv')
branch = pd.read_csv('clean_data/branch_transformed.csv')

# Database connection string
db_url = 'postgresql://postgres:314031@localhost:5432/LuxurStay Hotel Operations'

# Create a SQLAlchemy engine
engine = create_engine(db_url)

# Upload the DataFrames to PostgreSQL
service.to_sql('service', engine, if_exists='replace', index=False)
request.to_sql('request', engine, if_exists='replace', index=False)
branch.to_sql('branch', engine, if_exists='replace', index=False)

print("Data uploaded successfully!")

Data uploaded successfully!